DJANGO_SECRET_KEY=changeme-orders
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=*
DB_NAME=orders_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
JWT_SECRET=changeme-jwt-secret
CELERY_BROKER_URL=redis://redis:6379/0
SERVICE_PORT=8007
